<?xml version="1.0"?>
<config>
    <modules>
        <Jaro_SalesFix>
            <version>0.1.1</version>
        </Jaro_SalesFix>
    </modules>
    <global>
        <models>
            <jaro_salesfix>
                <class>Jaro_SalesFix_Model</class>
                <resourceModel>jaro_salesfix_resource</resourceModel>
            </jaro_salesfix>
            <jaro_salesfix_resource>
                <class>Jaro_SalesFix_Model_Resource</class>
            </jaro_salesfix_resource>
        </models>
        <blocks>
            <jaro_salesfix>
                <class>Jaro_SalesFix_Block</class>
            </jaro_salesfix>
        </blocks>
        <helpers>
            <jaro_salesfix>
                <class>Jaro_SalesFix_Helper</class>
            </jaro_salesfix>
        </helpers>
        <resources>
            <jaro_salesfix_setup>
                <setup>
                    <module>Jaro_SalesFix</module>
                </setup>
            </jaro_salesfix_setup>
        </resources>
    </global>
</config>

